
@mixin flexbox($direction: row, $wrap: nowrap, $justify: flex-start, $align-items: stretch) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $justify;
  align-items: $align-items;
}